services:
  osrm:
    image: osrm/osrm-backend
    container_name: osrm
    ports:
      - "5000:5000"
    volumes:
      - "C:/Users/ferre/osrm-data:/data"
    command: >
      osrm-routed /data/argentina-latest.osrm
